<div class="course-resource">
    <template v-if="template=='panel'">
        <div 
            class="panel panel-success"
            :class="$style['hl--xy']"
        >
            <header
                class="course-activity-hdr panel-heading"
                :class="[$style['row--pStart--sMiddle'], $style['rhy--xStart25']]"
            >   
                <slot name="prehed"></slot>
                <h5 v-text="instance.title"></h5>
                <slot name="posthed"></slot>
            </header>
            <div 
                class="panel-body"
                v-if="instance.tags"
            >
                <span 
                    class="label label-info pull-left"
                    :class="[$style['label'], $style['iso--xEnd25'], $style['iso--yEnd25']]"
                    v-for="tag in instance.tags"
                    v-text="tag.tag.name"
                >
                </span>
            </div>
        </div>
    </template>
    
    <template v-else>
        <div 
            :class="[
                $style['row--pStart--sBase'],
                $style['rhy--xStart25'],
                $style['pad--xy25'],
                $style['rxn--info']
            ]"
        >
            <slot name="prehed"></slot>
            <span v-text="instance.title"></span>
        </div>
    </template>
</div>
