{% load i18n %}
{% block content %}
<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href=""><img src="{{ STATIC_URL }}mpowering/images/logo.png" height="24"/>{% trans 'mPowering' %}</a>
	  </div>
	  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-right">
		        <li><a href="">{% trans 'Login' %}</a></li>
		        <li><a href="">{% trans 'Register' %}</a></li>
		    </ul>
	  </div>
</div>
{% endblock content %}
