{% load i18n %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'mpowering_home' %}"><img
			src="{{ STATIC_URL }}mpowering/images/logo.png" height="24" />{% trans 'mPowering' %}</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			
			<li><a href="{% url 'mpowering_home' %}">{% trans 'Home' %}</a></li>
			{% for m in header_menu_categories %}
				<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ m.name }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						{% for t in m.tags %}
							<li><a href="{% url 'mpowering_tags' t.slug %}">{{ t.name }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
			
			<li><a href="{% url 'mpowering_resource_create' %}">{% trans 'Add Resource' %}</a></li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'profile_edit' %}">{% trans 'Profile' %}</a></li>
				<li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans 'Logout' %}</a></li>
			{% else %}
				<li><a href="{% url 'profile_login' %}">{% trans 'Login' %}</a></li>
				<li><a href="{% url 'profile_register' %}">{% trans 'Register' %}</a></li>
			{% endif %}
		</ul>
	</div>
</div>

{% endblock content %}

