<p>Dear {{ firstname }} {{ lastname }},</p>

<p>Welcome to the ORB community!</p>

<p>Thank you for submitting your first resource ('{{ title }}').</p>

<p>Since this is your first resource on ORB, here’s some information
	about our content approval process:</p>

<ol>
	<li>Our Content Review Team will review your resource to make sure
		it meets our inclusion guidelines.</li>
	<li>If they approve your resource, they will pass it on to our
		Medical Expert Panel. They will check that your resource meets current
		best medical practice and guidelines.</li>
	<li>The Medical Expert Panel will decide if your resource is ready
		to go up on the site.</li>
	<li>We will send you an email to let you know if your resource was
		accepted, or, if not, why we decided not to include it on ORB.</li>
</ol>

<p>
	You can find more detailed information about the process here: <a
		href="http://health-orb.org/about/">http://health-orb.org/about/</a>.
</p>

<p>
	The approvals process takes about 2 weeks. If you have any questions
	please contact us at <a href="mailto:{{ info_email }}">{{ info_email }}</a>
</p>

<p>Thanks again for submitting your resource!</p> 

{% include 'orb/email/footer.html' %}