{% load i18n %} 
{% blocktrans %}
<p>Dear {{ firstname }} {{ lastname }},</p>

<p>Welcome to the ORB community!</p>

<p>Thank you for submitting your first resource ('{{ title }}').</p>

<p>Since this is your first resource on ORB, here’s some information
	about our content approval process:</p>

<ol>
	<li>Our Content Review Team will review your resource to make sure
		it meets our inclusion guidelines.</li>
	<li>We will send you an email to let you know if your resource was
		accepted, or, if not, why we decided not to include it on ORB.</li>
</ol>

<p>
	You can find more detailed information about the process here: <a
		href="http://health-orb.org/about/">http://health-orb.org/about/</a>.
</p>

<p>
	If you have any questions please contact us at <a href="mailto:{{ info_email }}">{{ info_email }}</a>
</p>

<p>Thanks again for submitting your resource!</p> 
{% endblocktrans %}
{% include 'orb/email/footer.html' %}