{% extends "base.html" %}
{% load i18n review_tags %}

{% block extra_head_title %}{% trans 'Courses' %}{% endblock extra_head_title %}

{% block content %}

    <h2>{% trans 'Courses' %}</h2>

    {% include "includes/messages.html" %}

    {% if user.is_authenticated %}
    <a
        class="btn btn-primary btn-xs"
        href="{% url 'courses_create' %}"
    >
        <span
            class="glyphicon glyphicon-edit"
            aria-hidden="true"
        ></span>
        <span>{% trans 'Add a new course' %}</span>
    </a>
    {% else %}
    	<p>{% url 'profile_login' as login %}
            {% url 'profile_register' as register %}
            {% blocktrans with request.path as nextpath %}Please <a href="{{ login }}?next={{ nextpath }}">login</a> or
                <a href="{{ register }}">register</a> to create or edit courses.{% endblocktrans %}</p>
    {% endif %}

    <div>

    {% for course in courses %}

        <div class="row" style="margin-top: 20px;">
            <span style="font-size: 28px; font-weight: bold;">
                {% if course.status == 'draft' %}
                  <span class="btn btn-warning">
                    {{ course.status }}
                </span>
                {% endif %}
                <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
            </span>
        {% if user.is_authenticated %}
        <!--<span class="label label-info" style="margin-left: 10px;">
          <a href="{% url 'courses_oppia_export' course.pk %}">Export to Oppia</a>
        </span>
        <span class="label label-info" style="margin-left: 10px;">
          <a href="{% url 'courses_moodle_export' course.pk %}">Export to Moodle</a>
        </span> -->
        <span class="label label-info" style="margin-left: 10px;">
          <a href="{% url 'courses_oppia_publish' course.pk %}">Publish to OpenDeliver Oppia</a>
        </span>
        {% endif %}

        </div>
    {% empty %}
    	{% if user.is_authenticated %}
        <h3>{% trans 'You haven\'t created any courses yet.' %}</h3>
        {% endif %}
    {% endfor %}

    </div>



{% endblock %}
