{% extends "base.html" %}
{% load i18n review_tags static %}

{% block extra_head_title %}{{ course.title }}{% endblock extra_head_title %}

{% block extra_scripts %}
{% comment %}vue is included in course_build script for now{% endcomment %}
{% endblock extra_scripts %}

{% block content %}
    {% include "includes/messages.html" %}
    {% comment %}{{ course.sections|safe|default:'[]' }}{% endcomment %}
    <div id="app">
        <course-editor
            title="{{ course.title }}"
            :sections="[[],[],[]]"
        >
        </course-editor>
    </div>
{% endblock %}


{% block footer_js %}
{{ super }}
<script src="{% static 'orb/js/course_builder.js'  %}"></script>
{% endblock %}
