{% extends "base.html" %}
{% load i18n review_tags %}

{% block extra_head_title %}{% trans 'Courses' %}{% endblock extra_head_title %}

{% block content %}

    <h2>{% trans 'Courses' %}</h2>

    {% include "includes/messages.html" %}

    {% if user.is_authenticated %}
    <button><a href="{% url 'courses_create' %}">{% trans 'Add a new course' %}</a></button>
    {% endif %}

    <div>
    {% for course in courses %}

        <div>
            <h3><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></h3>

        </div>
    {% empty %}
        <h3>{% trans 'No courses currently available.' %}</h3>
    {% endfor %}

    </div>



{% endblock %}
