{% extends "base.html" %}
{% load i18n review_tags static %}

{% block extra_head_title %}{% if course %}{{ course.title }}{% else %}{% trans 'New Course' %}{% endif %}{% endblock extra_head_title %}

{% block extra_styles %}
{{ super }}
<link
    href="{% static 'orb/apps/course_builder.css' %}"
    rel="stylesheet"
/>
{% endblock %}

{% block extra_scripts %}
{% comment %}vue is included in course_build script for now{% endcomment %}
{% endblock extra_scripts %}

{% block content %}
    {% include "includes/messages.html" %}
    <div id="app"></div>
    <script id="courseData" type="application/data">
        {{ course_json|safe }}
    </script>
    {% include "orb/courses/script_initializations.html" %}
    <div id="course-manager"></div>
{% endblock %}


{% block footer_js %}
{{ super }}
<script src="{% static 'orb/apps/bundle.js' %}" defer></script>
<script src="{% static 'orb/apps/course_builder.js' %}" defer></script>
{% endblock %}
