{% extends "base.html" %}
{% load i18n %}
{% block extra_head_title %}{% trans 'Delete Resource' %}{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Delete Resource' %}</h2>
<form action="{% url 'orb_delete_resource' resource.pk %}" method="POST">{% csrf_token %}
<div>
{% blocktrans %}This will immediately and permanently delete the '{{ resource }}' resource.{% endblocktrans %}
</div>
<div>
<button class="btn btn-danger" type="submit">{% trans 'Delete' %}</button>
    <a href="{% url 'orb_pending_resources' %}">{% trans 'Cancel' %}</a>
</div>
</form>

{% endblock %}

