{% extends "base.html" %}
{% load i18n %} 
{% block extra_head_title %}{% trans 'Resource Submitted' %}{% endblock extra_head_title %}
{% block content %}

<h2>{% trans 'Resource Submitted' %}</h2>

<div class="alert alert-success">{% blocktrans with resource.title as r_title%} Thank you for submitting 
'{{ r_title }}' as a resource to the ORB Platform{% endblocktrans %}</div>	

<div class="alert alert-info">{% blocktrans %}Your submission with be reviewed by the Content Review Team and our Medical Expert Panel before it will be made available publicly on this site.{% endblocktrans %}</div>	

{% endblock %}