{% extends "base.html" %}
{% load i18n %} 
{% load crispy_forms_tags %}
{% block extra_scripts %}
{% endblock extra_scripts %} 
{% block extra_head_title %}{% trans 'Add Resource - Step 2' %}{% endblock extra_head_title %}
{% block content %}

<h2>{% trans 'Add Resource Files/URLs - Step 2' %}</h2>

{% blocktrans with resource.title as title %}
<p>Please now add one or more files and/or URLs for '{{ title }}'.</p>
<p>For example, your resource may consist of multiple files or is available in multiple languages, so you can upload each of them here.</p>
<p>Please provide a title for each of the files/urls.</p>
{% endblocktrans %}

<h3>{% trans 'Files' %}</h3>
{% if resource_files %}
	<ul>
	{% for rf in resource_files %}
		<li>
		{% if rf.title %}
			{{ rf.title }}
		{% else %}
			{{ rf.file }}
		{% endif %}
		 - <a href="{% url 'orb_resource_create_delete_file' resource.id  rf.id %}">{% trans 'remove' %}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	{% trans 'There are no files for this resource' %}
{% endif %}

<h3>{% trans 'URLs' %}</h3>
{% if resource_urls %}
	<ul>
	{% for ru in resource_urls %}
		<li>
		{% if ru.title %}
			{{ ru.title }}
		{% else %}
			{{ ru.url }}
		{% endif %}
		 - <a href="{% url 'orb_resource_create_delete_url' resource.id  ru.id %}">{% trans 'remove' %}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	{% trans 'There are no urls for this resource' %}
{% endif %}


{% crispy form %}

<div class="col-lg-offset-2 col-lg-8">
	<a href="{% url 'orb_resource_create_thanks' resource.id %}" class="btn btn-primary btn btn-default" >{% trans 'Finished' %}</a>
</div>



{% endblock %}