{% extends "base.html" %}
{% load i18n %} 
{% load crispy_forms_tags %}

{% block extra_head_title %}{% trans 'Resource - Reject' %}{% endblock extra_head_title %}
{% block content %}

<h3>{% trans 'Reject Resource' %}: {{ resource.title }}</h3>

{% blocktrans %}
<p>Please select all of the ORB criteria that the resource failed to meet, and some notes explaining why it failed and/or how the resource could be updated to meet the criteria. </p>
{% endblocktrans %}	

{% crispy form %}

{% endblock %}