{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block extra_head_title %}
    {{ object.title }}
{% endblock extra_head_title %}

{% block content %}
    <h2>{{ object.title }}</h2>
        <p class="well">
        {% trans "Please take a moment to let us know how you are going to make use of this resource." %}
        </p>
    {% crispy form %}
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            var selection = $('input[type=radio][name=survey_intended_use]');
            var surveyOther = $('div#div_id_survey_intended_use_other');
            var surveyCount = $('div#div_id_survey_health_worker_count');
            var surveyCadre = $('div#div_id_survey_health_worker_cadre');
            $(selection).change(function() {update(this.value)});

            function toggleField(fieldDiv, isShown) {
                if(isShown) {
                    fieldDiv.show();
                    fieldDiv.find(':input').prop('required', true);
                } else {
                    fieldDiv.hide();
                    fieldDiv.find(':input').prop('required', false);

                }
            }

            function update(selectedValue) {
                if (selectedValue === "training") {
                    toggleField(surveyOther, false);
                    toggleField(surveyCount, true);
                    toggleField(surveyCadre, true);
                } else if (selectedValue === "other") {
                    toggleField(surveyOther, true);
                    toggleField(surveyCount, false);
                    toggleField(surveyCadre, false);

                } else {
                    toggleField(surveyOther, false);
                    toggleField(surveyCount, false);
                    toggleField(surveyCadre, false);
                }
            }

            // Check first for a checked instance, as this may be prepopulated based
            // on previous form submission.
            var initial = $('input[type=radio][name=survey_intended_use]:checked')[0];
            if (initial == null) {
                initial = $('input[type=radio][name=survey_intended_use]')[0];
            }
            update(initial.value);
        });
    </script>


{% endblock %}
