{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block extra_head_title %}
    {{ object.title }}
{% endblock extra_head_title %}

{% block content %}
    <h2>{{ object.title }}</h2>
        <p class="well">
        {% trans "Please take a moment to let us know how you are going to make use of this resource." %}
        </p>
    {% crispy form %}
{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            var selection = $('input[type=radio][name=survey_intended_use]');
            var surveyOther = $('div#div_id_survey_intended_use_other');
            var surveyCount = $('div#div_id_survey_health_worker_count');
            var surveyCadre = $('div#div_id_survey_health_worker_cadre');
            $(selection).change(function() {update(this.value)});
            function update(selectedValue) {
                if (selectedValue === "training") {
                    surveyOther.hide();
                    surveyCount.show();
                    surveyCadre.show();
                } else if (selectedValue === "other") {
                    surveyOther.show();
                    surveyCount.hide();
                    surveyCadre.hide();

                } else {
                    surveyOther.hide();
                    surveyCount.hide();
                    surveyCadre.hide();
                }
            }
            update($('input[type=radio][name=survey_intended_use]:checked')[0].value);
        });
    </script>


{% endblock %}
