{% extends "base.html" %}
{% load i18n %} 
{% load thumbnail %}

{% block extra_head_title %}{{ resource.title }}{% endblock extra_head_title %}

{% block extra_head_desc %}{{ resource.title }}{% endblock extra_head_desc %}
{% block extra_head_keywords %}{% for c in resource.get_categories %}{% for t in c.tags %}{{ t.name }},{% endfor %}{% endfor %}{% endblock extra_head_keywords %}

{% block extra_scripts %}
<script>

$.ajaxSetup({
	  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
	
//$.post("/resource/rate/", { rating: 3, resource_id: {{ resource.id }} },
//    function(data) {
       // success! so now set the UI star to 3
//});
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>

{% endblock extra_scripts %}


{% block content %}
<div id="fb-root"></div>

{% include 'orb/includes/search_bar.html' %}

<h3 style="text-align:center">{{ resource.title }}</h3>

{% include "includes/messages.html" %}

<p style="text-align:center">
From:
{% for o in resource.get_organisations %}
	<a href="{% url 'orb_tags' o.slug %}">{{ o.name }} </a>
{% endfor %}
</p>


{% if resource.image %}
	{% thumbnail resource.image "250x180" format="PNG" padding=True as im %}
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="display:block; margin: 20px auto; max-width: 250px" class="thumbnail">
	{% empty %}
  		<p>No image</p>
	{% endthumbnail %}		
{% endif %}
<p>
{{ resource.description|safe }}
</p>

<div class="share-button">
	<div class="fb-share-button"
		data-href="http://health-orb.org{% url 'orb_resource' resource.slug %}"
		data-layout="button_count"></div>
</div>
<div class="share-button">
	<a class="twitter-share-button" href="https://twitter.com/share"
		data-url="http://health-orb.org{% url 'orb_resource' resource.slug %}"
		data-via="mpoweringhealth"> Tweet </a>
</div>
<div class="share-button">
	<script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
	<script type="in/share" data-counter="right"></script>
</div>
<div style="clear: both"></div>



{% if resource.get_files %}
	<hr/>
	<h4>{% trans 'Files' %}</h4>
	<ul>
	{% for f in resource.get_files %}
		<li>
			{% if f.title  %}
				<a href="{% url 'orb_resource_view_file' f.id %}">{{ f.title }}</a>
			{% else %}
				<a href="{% url 'orb_resource_view_file' f.id %}">{{ f.filename }}</a>
			{% endif %}
			({{ f.filesize|filesizeformat }})
			{% if f.description and f.description.strip %}
				<p>{{ f.description }}</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% if resource.get_urls %}
	<hr/>
	<h4>{% trans 'Links' %}</h4>
	<ul>
	{% for u in resource.get_urls %}
		<li>
			{% if u.title %}
				<a href="{% url 'orb_resource_view_link' u.id %}">{{ u.title }}</a>
			{% else %}
				<a href="{% url 'orb_resource_view_link' u.id %}">{{ u.url }}</a>
			{% endif %}
			{% if u.description and u.description.strip %}
				<p>{{ u.description }}</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% if resource.study_time_number %}
	<hr/>
	<h4>{% trans 'Study Time' %}</h4>
	{{ resource.study_time_number }} {{ resource.study_time_unit}}
{% endif %}

{% if resource.get_categories %}
	{% for c in resource.get_categories %}
		<hr/>
		
		<h4>{{ c.name }}</h4>
			{% for t in c.tags %}
				<div class="row vertical-align" style="padding-bottom:10px;"> 
					<div class="col-xs-4 col-md-1 col-lg-1">
						<a href="{% url 'orb_tags' t.slug %}">
						 {% if t.image %}
						 	{% thumbnail t.image "70x70" padding=True format="PNG" upscale=False as im %}
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
							{% empty %}
						  		<p>No image</p>
						  	{% endthumbnail %}
						 {% endif %}</a>
					</div>
					<div class="col-xs-8 col-md-5 col-lg-5">
						<a href="{% url 'orb_tags' t.slug %}">{{ t.name }}</a>
						{% if t.summary %}
							- {{ t.summary }}
						{% endif %}
					</div>
				</div>
				
			{% endfor %}
	{% endfor %}
{% endif %}

<hr/>
<small>Resource uploaded by {{ resource.create_user.first_name }} {{ resource.create_user.last_name }} ({{ resource.create_date }})
and last updated by {{ resource.update_user.first_name }} {{ resource.update_user.last_name }} ({{ resource.update_date }})</small>

<hr/>
<p>Resource viewed {{ resource.get_no_hits }} times </p>


{% if options_menu %}
<hr/>
	{% for om in options_menu %}
		<a class="btn {% if forloop.first %}btn-primary{% endif %} btn-default" href="{{ om.url }}">{{ om.title }}</a>
	{% endfor %}
{% endif %}
{% endblock %}