{% load i18n %} 
{% load humanize %}
{% if country_key_facts %}
<div id="country-key-facts">
	<ul>
		<li>{% trans 'Population' %} ({{ country_key_facts.last_census_year }} {% trans 'census' %}): {{ country_key_facts.pop_est|intword }}</li>
		<li>{% trans 'Number of women in childbearing age' %}: 
				{% if country_key_facts.no_childbearing_age > 1000000 %}
					{{ country_key_facts.no_childbearing_age|intword }}
				{% else %}
					{{ country_key_facts.no_childbearing_age|intcomma }}
				{% endif %}						
		</li>
		<li>{% trans 'Number of children under 5' %}: 
				{% if country_key_facts.no_children_under5 > 1000000 %}
					{{ country_key_facts.no_children_under5|intword }}
				{% else %}
					{{ country_key_facts.no_children_under5|intcomma }}
				{% endif %}						
		</li>
		<li>{% trans 'Total Fertility Rate' %}: 
					{{ country_key_facts.fertility_rate|floatformat:1 }}					
		</li>
		<li>{% trans 'Under 5 Mortality' %}: 
					{{ country_key_facts.under5_mortality }}					
		</li>
	</ul>
	<div id="country-key-facts-source">Data from <a href="http://1millionhealthworkers.org/operations-room/">1mCHW Operations Room</a></div>
</div>
{% endif %}