{% load i18n %} 
{% load thumbnail %}
{% load static %}

<div class="row"> 
	<div class="col-md-2"  style="display: inline-block; vertical-align: middle; min-height:40px; padding-top:7px;">
		{% for i in "xxxxx"%}
			{% if forloop.counter <= rating.rating %}
				<img src="{% static 'orb/images/star-full-small.png' %}"/>
			{% else %}
				<img src="{% static 'orb/images/star-empty-small.png' %}"/>
			{% endif %}
		{% endfor %}
		
	</div>
	<div class="col-md-8">
		<h4><a href="{% url 'orb_resource' resource.slug %}">{{ resource.title }}</a></h4>
	</div>
	
</div>
<hr/>