{% load i18n %} 
{% load thumbnail %}
<div class="row"> 
	<div class="col-md-8">
		<a href="{% url 'orb_resource' resource.slug %}"><h4>{{ resource.title }}</h4></a>
		
		<h4>
		{% for t in resource.get_type_tags %}
			{{ t.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		{% trans 'from ' %}
		{% for o in resource.get_organisations %}
			{{ o.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</h4>
		<p>{{ resource.description|striptags|truncatewords:40 }}</p>

		<p>{% for c in resource.get_geographies %}
					{% thumbnail c.image "30x30" format="PNG" padding=True as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ c.name }}" title="{{ c.name }}"/>
					{% endthumbnail %}	
				{% endfor %}
			{% for c in resource.get_languages %}
					{% thumbnail c.image "30x30" format="PNG" padding=True as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ c.name }}" title="{{ c.name }}"/>
					{% endthumbnail %}	
				{% endfor %}
			{% for c in resource.get_devices %}
					{% thumbnail c.image "30x30" format="PNG" padding=True as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ c.name }}" title="{{ c.name }}"/>
					{% endthumbnail %}	
				{% endfor %}
		</p>
	</div>
	<div class="col-md-2">
           {% if resource.image %}
           	{% thumbnail resource.image "200x150" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="display:block;" class="thumbnail">
			{% empty %}
		  		<p>No image</p>
			{% endthumbnail %}	
		{% endif %}
	</div>
</div>
<hr/>