{% load i18n %} 
<tr>
	<td>{{ tracker.access_date }}</td>
	<td>{{ tracker.resource.title }}</td>
	<td>
		{% if tracker.get_location %}
			{{ tracker.get_location.lat }}, {{ tracker.get_location.lng }}<br/>
			{{ tracker.get_location.region }} {{ tracker.get_location.country_name }}
		{% else %}
			<span class="text-muted">unknown</span>
		{% endif %}
	</td>
	<td>
		{% if tracker.resource_file %}
			{% if tracker.resource_file.title and tracker.resource_file.title.strip %}
				<a href="{% url 'orb_resource_view_file' tracker.resource_file.id %}">{{ tracker.resource_file.title }}</a>
			{% else %}
				<a href="{% url 'orb_resource_view_file' tracker.resource_file.id %}">{{ tracker.resource_file.filename }}</a>
			{% endif %}
		{% elif tracker.resource_url %}
			{% if tracker.resource_url.title and tracker.resource_url.title.strip %}
				<a href="{% url 'orb_resource_view_link' tracker.resource_url.id %}">{{ tracker.resource_url.title }}</a>
			{% else %}
				<a href="{% url 'orb_resource_view_link' tracker.resource_url.id %}">{{ tracker.resource_url.url }}</a>
			{% endif %}
		{% endif %}
	
	</td>
</tr>
