{% load i18n %} 
{% load thumbnail %}
{% load static %}

<div class="row"> 
	<div class="col-md-8">
		<h4><a href="{% url 'orb_resource' resource.slug %}">{{ resource.title }}</a></h4>
		
		{% if resource.get_rating.rating and resource.get_rating.count >= ORB_RESOURCE_MIN_RATINGS %}
			<p>{% for i in "xxxxx"%}
				{% if forloop.counter <= resource.get_rating.rating %}
					<img src="{% static 'orb/images/star-full-small.png' %}"/>
				{% else %}
					<img src="{% static 'orb/images/star-empty-small.png' %}"/>
				{% endif %}
			{% endfor %}</p>
		{% endif %}
		
		<h4>
		{% for t in resource.get_type_tags %}
			{{ t.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		{% trans 'from ' %}
		{% for o in resource.get_organisations %}
			{{ o.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</h4>
		<p>{{ resource.description|striptags|truncatewords:40|safe }}</p>

		<div>
			{% for c in resource.get_geographies %}
				{% thumbnail c.image "30x30" crop="center" format="PNG" padding=True as im %}
					<img class="resource-row-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ c.name }}" title="{{ c.name }}"/>
				{% endthumbnail %}	
			{% endfor %}
			{% for c in resource.get_languages %}
				{% thumbnail c.image "30x30"  crop="center" format="PNG" padding=True as im %}
					<img class="resource-row-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ c.name }}" title="{{ c.name }}"/>
				{% endthumbnail %}	
			{% endfor %}
			{% if resource.study_time_number  %}
				<div class="resource-row-study-time" title="{% trans 'Study time: ' %}{{ resource.study_time_number }} {{ resource.study_time_unit }}">
					<img src="{% static 'orb/images/study_time_30x30.png' %}" width="30" height="30" alt="{% trans 'Study time: ' %}{{ resource.study_time_number }} {{ resource.study_time_unit }}"/>
					<span>{{ resource.study_time_number }} {{ resource.study_time_unit }}</span>
				</div>
			{% endif %}
			
		</div>
	</div>
	<div class="col-md-4">
		<a href="{% url 'orb_resource' resource.slug %}">
        {% if resource.image %}
          	{% thumbnail resource.image "200x150" format="PNG" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail resource-row-thumbnail" alt="{{ resource.title }}">
			{% endthumbnail %}	
		{% else %}
			{% for c in resource.get_health_domains|slice:":1" %}
				{% thumbnail c.image "200x150" format="PNG" as im %}
					<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail resource-row-thumbnail resource-row-thumbnail-default" alt="{{ resource.title }}">
				{% endthumbnail %}
			{% endfor %}
		{% endif %}
		</a>
	</div>
</div>
<hr/>