{% load i18n %}
{% load thumbnail %}
{% load static %}

{% for category, category_tags in organized_topics.items %}
  <section class="resource-collection">
  <h2>{{ category }}</h2>
  {% for tag in category_tags %}
    <div class="resource-collection-block">
		<a href="{% url 'orb_tags' tag.slug %}">
			{% thumbnail tag.image "220x150" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			{% empty %}
    			<p>No image</p>
			{% endthumbnail %}
      {% if tag.name != category.name %}
			<h3 class="homepage">{{ tag.name }}</h3>
        {% endif %}

			{% blocktrans count tag.resource_count as resource_count %}{{ resource_count }} resource{% plural %}{{ resource_count }} resources{% endblocktrans %}
		</a>
	</div>
{% endfor %}
  </section>
{% endfor %}
