{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head_title %}{% trans 'ORB by mPowering' %}{% endblock extra_head_title %}

{% block extra_head_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{% url 'orb_feed' %}">
{% endblock extra_head_feed %}

{% block content %}

{% include 'orb/includes/search_bar.html' %}

<h3 style="text-align: center">
    {% trans 'Connecting Frontline Health Workers to resources and each other to expand their knowledge, organize content into courses, and share their learning with the community.' %}
</h3>

<div style="position: relative; margin: 20px auto; overflow: hidden; text-align: center;">

{% if organized_topics %}
  {% include "orb/home_organized_topics.html" %}
{% else %}
  {% include "orb/home_topics.html" %}
{% endif %}


	<div style="clear:both"></div>
</div>

{% endblock %}
