{% extends "base.html" %}
{% load i18n %} 
{% block extra_head_title %}{% trans 'Login required' %}{% endblock extra_head_title %}
{% block content %}

<h2>{% trans 'Login required' %}</h2>

<div class="alert alert-info">

<p>{{ message }}</p>

{% url 'profile_login' as login %}
{% url 'profile_register' as register %}
<p>{% blocktrans with request.path as nextpath %}Please <a href="{{ login }}?next={{ nextpath }}" class="alert-link">login</a> or <a href="{{ register }}" class="alert-link">register</a>{% endblocktrans %}</div>


{% endblock %}