{% extends "base.html" %} 
{% load i18n %} 
{% load thumbnail %}
{% block extra_head_title %}
	{% trans 'Content Partners' %}
{% endblock extra_head_title %} 

{% block content %}

<h2>{% trans 'Content Partners' %}</h2>

{% url 'orb_guidelines' as orb_guidelines %} {% blocktrans %}

<p>Anyone is welcome to share content resources on ORB!</p>

<p>
	If you believe your content meets <a href="{{ orb_guidelines }}">our
		criteria</a>, we would like to hear from you. Just go to our ‘Add a
	Resource’ link and you’ll find out how your content could potentially
	reach hundreds of thousands of health workers across the world.
</p>


<p>Are you interested in becoming an ORB Content Partner?</p>

<p>This is a more formal relationship with mPowering Frontline Health Workers.</p>

<p>As a Content Partner, we will create an ORB partner page with
	your logo, a short description of your organisation and a link back to
	your home page. We will also help connect with you other partners who
	may want to use your content or commission new content from you.

	Content Partners should have an internal quality assurance and review
	process in place, as this will help us fast-track your ORB resources
	through our content review process.</p>
<p>In return, you will commit to sharing your digital health
	resources with us using an open content license, including your updated
	or new resources, and to being an ambassador for ORB (promoting its use
	by implementers, health workers and others).</p>

<p>To apply to become an ORB Content Partner, please <a href="mailto:info@mpoweringhealth.org">contact us</a>.</p>
{% endblocktrans %}

<h3>Our content partners include:</h3>


{% for p in partners %}
<div class="row" style="padding-bottom:20px"> 
	<div class="col-md-1">
		<a href="{% url 'orb.views.tag_view' p.slug %}" title="{% blocktrans with p.name as org %}View all {{ org }} resources on ORB{% endblocktrans %}">
		{% thumbnail p.image "70x70" format="PNG" padding=True as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
					alt="{% blocktrans with p.name as org %}View all {{ org }} resources on ORB{% endblocktrans %}">
		{% endthumbnail %}
		</a>
	</div>
	<div class="col-md-8">
		<h4>{{ p.name }}</h4>
		<p>{{ p.description|safe }}<br/>
		<a href="{% url 'orb.views.tag_view' p.slug %}">{% blocktrans with p.name as org %}View all {{ org }} resources on ORB{% endblocktrans %}</a></p>
	</div>
	
</div>
{% endfor %}
{% endblock content %}
