{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block extra_head_title %}
	{% trans 'Content Partners' %}
{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Content Partners' %}</h2>

{% url 'orb_guidelines' as orb_guidelines %} {% blocktrans %}

<h3>Anyone is welcome to share content resources on ORB!</h3>

<p>
	If you believe your content meets <a href="{{ orb_guidelines }}">our
		criteria</a>, we would like to hear from you. Just go to our ‘Add a
	Resource’ link and you’ll find out how your content could potentially
	reach hundreds of thousands of health workers across the world.
</p>


<h3>Are you interested in becoming an ORB Content Partner?</h3>

<p>This is a more formal relationship with ORB and mPowering Frontline Health Workers.</p>

<p>As a Content Partner, we will create an ORB partner page with
	your logo, a short description of your organisation and a link back to
	your home page. We will also help connect with you other partners who
	may want to use your content or commission new content from you.

	Content Partners should have an internal quality assurance and review
	process in place, as this will help us fast-track your ORB resources
	through our content review process.</p>

<p>The criteria for becoming a content partner are:</p>

<ul>
	<li>Commitment to using open content licensing (Creative Commons)
		and sharing your digital health training materials on ORB. <a
		href="https://youtu.be/zbqq6Gg5g3U">Watch our video on Creative
			Commons for Global Health</a>
	</li>
	<li>Robust, well-documented internal quality assurance and review
		processes - this helps us to fast-track your ORB resources through our
		content review process</li>
	<li>Agreement to being an ambassador for ORB - promoting its use
		by implementers, health workers and others</li>
</ul>

<p>
	To apply to become an ORB Content Partner, please <a
		href="mailto:info@mpoweringhealth.org">contact us</a>. All Content
	Partners should send a letter of commitment, not to exceed one page,
	which documents how they meet these criteria and their motivation for
	becoming a Content Partner.
</p>
{% endblocktrans %}

<h3>{% trans 'Our content partners include:' %}</h3>


{% for p in partners %}
<div class="row" style="padding-bottom:20px">
	<div class="col-md-1">
		<a href="{% url 'orb_tags' p.slug %}" title="{% blocktrans with p.name as org %}View all {{ org }} resources on ORB{% endblocktrans %}">
		{% thumbnail p.image "70x70" format="PNG" padding=True as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
					alt="{% blocktrans with p.name as org %}View all {{ org }} resources on ORB{% endblocktrans %}">
		{% endthumbnail %}
		</a>
	</div>
	<div class="col-md-8">
		<h4>{{ p.name }}</h4>
		<p>{{ p.description|safe }}<br/>
		{% if p.slug == 'jhu-ccp' %}
			<a href="{% url 'orb_tags' 'nurhi' %}">{% blocktrans %}View all NURHI project resources on ORB{% endblocktrans %}</a><br/>
			<a href="{% url 'orb_tags' 'ghana-behavior-change-support' %}">{% blocktrans %}View all Ghana BCS project resources on ORB{% endblocktrans %}</a></p>
		{% else %}
			<a href="{% url 'orb_tags' p.slug %}">{% blocktrans with p.name as org %}View all {{ org }} resources on ORB{% endblocktrans %}</a></p>
		{%endif %}
	</div>

</div>
{% endfor %}
{% endblock content %}
