{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head_title %}{% trans 'Search' %}{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Search' %}</h2>

{% crispy form %}

<a href="{% url 'orb_search_advanced' %}">{% trans 'Advanced search & filter' %}</a>

{% if query %}
	  {% if page.object_list %}
	      <h3>{{ total_results }} {% trans 'results' %}</h3>
	
		  {% include "orb/includes/page_navigator.html" %}
	      {% for resource in page.object_list %}
	      	  {% with resource.object as resource %}
		      	{% include "orb/includes/resource_row.html" %}
		      {% endwith %}
	      {% endfor %}
	      {% include "orb/includes/page_navigator.html" %}
      {% else %}
          <h3>{% trans 'No results found.' %}</h3>
      {% endif %}    
{% endif %}
{% endblock %}