{% load i18n %}<?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
	 <ShortName>{% trans 'ORB' %}</ShortName>
	 <Description>{% trans 'ORB by mPowering - Search' %}</Description>
	 <InputEncoding>UTF-8</InputEncoding>
	 <Contact>info@mpoweringhealth.org</Contact>
	 <Image height="32" width="32" type="image/x-icon">{{ BASE_URL }}/static/orb/images/icon-white.png</Image>
	 <Developer>Alex Little</Developer>
	 <Url type="text/html" method="get" template="{{ BASE_URL }}/search?q={searchTerms}" />
</OpenSearchDescription>