{% extends "base.html" %} {% load i18n %}

{% block extra_head_title %}{% trans 'Country Map' %}{% endblock extra_head_title %}

{% block extra_scripts %}
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v2/themes/css/cartodb.ie.css" />
  <![endif]-->
  <style>
    #cartodb-map { width: 100%; height:500px; background: #fff;}
    div.cartodb-popup h4 { color: #033f62; max-width: 120px; font-size: 14px;}
    div.cartodb-popup div.cartodb-popup-tip-container { width: 150px }
    div.cartodb-popup p { max-width: 120px }
    div.cartodb-popup div.cartodb-popup-content-wrapper { width: 150px }
  </style>

  <script>
    var map;
    function init(){
      // initiate leaflet map
      map = new L.Map('cartodb-map', { 
        center: [0,30],
        zoom: 3
      })
      var layerUrl = 'https://mpowering.cartodb.com/api/v2/viz/8f8c38be-1130-11e6-9e24-0ecd1babdde5/viz.json';
      
      L.tileLayer('http://a.basemaps.cartocdn.com/light_all//{z}/{x}/{y}.png', {
    	  attribution: 'Map tiles by CartoDB, under CC BY 3.0. Data by OpenStreetMap, under ODbL.'
    	}).addTo(map);
      
      cartodb.createLayer(map, layerUrl)
      .addTo(map)
      .on('done', function(layer) {
    	  var sublayer1 = layer.getSubLayer(0);
          sublayer1.infowindow.set('template', $('#iw_templ_country1_continent0').html());
          sublayer1.on('featureClick', function(e, latlng, pos, data) {
        });
          var sublayer2 = layer.getSubLayer(1);
          sublayer2.infowindow.set('template', $('#iw_templ_country0_continent1').html());
          sublayer2.on('featureClick', function(e, latlng, pos, data) {
        });
          var sublayer3 = layer.getSubLayer(2);
          sublayer3.infowindow.set('template', $('#iw_templ_country1_continent1').html());
          sublayer3.on('featureClick', function(e, latlng, pos, data) {
        });
      }).on('error', function() {
    	  console.log("Error occurred");
      });
    }
  </script>

	
	
	
	<script type="infowindow/html" id="iw_templ_country1_continent0">
  		<div class="cartodb-popup">
   			<a href="#close" class="cartodb-popup-close-button close">x</a>
     		<div class="cartodb-popup-content-wrapper">
       			<div class="cartodb-popup-content">
         			<h4>{% verbatim %}{{ content.data.name }}{% endverbatim %}</h4>
         			<p><a href="/tag/view/{% verbatim %}{{ content.data.slug }}{% endverbatim %}">View {% verbatim %}{{ content.data.no_country_resources }}{% endverbatim %} resources for {% verbatim %}{{ content.data.name }}{% endverbatim %}</a></p>
       			</div>
     		</div>
     		<div class="cartodb-popup-tip-container"></div>
  		</div>
	</script>
	
	<script type="infowindow/html" id="iw_templ_country0_continent1">
  		<div class="cartodb-popup">
   			<a href="#close" class="cartodb-popup-close-button close">x</a>
     		<div class="cartodb-popup-content-wrapper">
       			<div class="cartodb-popup-content">
         			<h4>{% verbatim %}{{ content.data.name }}{% endverbatim %}</h4>
         			<p><a href="/tag/view/{% verbatim %}{{ content.data.region_slug }}{% endverbatim %}">View {% verbatim %}{{ content.data.no_continent_resources }}{% endverbatim %} resources for {% verbatim %}{{ content.data.region_name }}{% endverbatim %}</a></p>
       			</div>
     		</div>
     		<div class="cartodb-popup-tip-container"></div>
  		</div>
	</script>
	
	<script type="infowindow/html" id="iw_templ_country1_continent1">
  		<div class="cartodb-popup">
   			<a href="#close" class="cartodb-popup-close-button close">x</a>
     		<div class="cartodb-popup-content-wrapper">
       			<div class="cartodb-popup-content">
         			<h4>{% verbatim %}{{ content.data.name }}{% endverbatim %}</h4>
         			<p><a href="/tag/view/{% verbatim %}{{ content.data.slug }}{% endverbatim %}">View {% verbatim %}{{ content.data.no_country_resources }}{% endverbatim %} resources for {% verbatim %}{{ content.data.name }}{% endverbatim %}</a></p>
					<p><a href="/tag/view/{% verbatim %}{{ content.data.region_slug }}{% endverbatim %}">View {% verbatim %}{{ content.data.no_continent_resources }}{% endverbatim %} resources for {% verbatim %}{{ content.data.region_name }}{% endverbatim %} </a></p>
       			</div>
     		</div>
     		<div class="cartodb-popup-tip-container"></div>
  		</div>
	</script>
{% endblock extra_scripts %}


{% block extra_body %}onload='init()'{% endblock extra_body %}

{% block content %}

<h2>{% trans 'Country Map' %}</h2>

<div id='cartodb-map'></div>

{% endblock %}
