{% load i18n %}<?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
	 <ShortName>{% trans 'ORB' %}</ShortName>
	 <Description>{% trans 'ORB by mPowering - Search' %}</Description>
	 <InputEncoding>UTF-8</InputEncoding>
	 <Contact>alex@digital-campus.org</Contact>
	 <Image height="16" width="16" type="image/x-icon">http://www.health-orb.org/static/mpowering/images/logo.png</Image>
	 <Developer>Alex Little</Developer>
	 <Url type="text/html" method="get" template="http://www.health-orb.org/search?q={searchTerms}" />
</OpenSearchDescription>