[class*="module:"] {
    float:none;
    position:relative
}
[class*="module:static"] { flex:none }
[class*="module:balance"] { flex:1 1 auto }
[class*="module:fit"] { flex:initial }
[class*="module:fill"] { flex:1 0 100% }

[class*="flex:"] {
    display:flex;
    flex-wrap:nowrap;
    width:100%
}
[class*="flex:v"] { flex-direction: column }
[class*="flex:vRev"] { flex-direction:column-reverse }
[class*="flex:vAuto"]{ width:auto }
[class*="flex:h"]{ flex-direction:row }
[class*="flex:h"] > * + * { margin-top:0 }
[class*="flex:hRev"] { flex-direction:row-reverse }
[class*="flex:hAuto"] { width:auto }
[class*=":wrap"] { flex-wrap:wrap }
[class*="--p:grid"] { justify-content:space-between }
[class*="--p:space"] { justify-content:space-around }
[class*="--p:start"] { justify-content:flex-start }
[class*="--p:end"] { justify-content:flex-end }
[class*="--p:middle"] { justify-content:center }
[class*="--s:start"] { align-items:flex-start }
[class*="--s:end"] { align-items:flex-end }
[class*="--s:middle"] { align-items:center }
[class*="--s:full"] { align-items:stretch }
[class*="--s:base"] { align-items:baseline }


:root {
    --gridCols:repeat(auto-fill,1fr);
    --gridRows:auto-fill
}
:root,
[class*="grid:"] {
    --gapXY:0px;
    --gapX:var(--gapXY);
    --gapY:var(--gapXY)
}
[class*="grid:"] {
    display:grid;
    grid-gap:var(--gapY) var(--gapX)
}
[class*="grid:"] > * + * { margin-top:0 }
[class*="grid:v"] {
    --gridRows:repeat(auto-fill,1fr);
    grid-auto-flow:row;
    grid-template-rows:var(--gridRows)
}
[class*="grid:vDense"] { grid-auto-flow:row dense }
[class*="grid:h"]{
    --gridCols:repeat(auto-fill,1fr);
    grid-template-columns:var(--gridCols)
}
[class*="grid:hDense"] { grid-auto-flow:column dense }

[class*="--cols:iAuto"] { --gridCols:repeat(auto-fill,1fr) }
[class*="--cols:i0"] { --gridCols:unset }
[class*="--cols:i1"] { --gridCols:1fr }
[class*="--cols:i2"] { --gridCols:repeat(2,1fr) }
[class*="--cols:i3"] { --gridCols:repeat(3,1fr) }
[class*="--cols:i4"] { --gridCols:repeat(4,1fr) }

[class*="--rows:iAuto"] { --gridRows:repeat(auto-fill,1fr) }
[class*="--rows:i0"] { --gridRows:unset }
[class*="--rows:i1"] { --gridRows:1fr }
[class*="--rows:i2"] { --gridRows:repeat(2,1fr) }
[class*="--rows:i3"] { --gridRows:repeat(3,1fr) }
[class*="--rows:i4"] { --gridRows:repeat(4,1fr) }

[class*="--gaps:xyEq"] { --gapXY:1px }
[class*="--gaps:xyEq0"] { --gapXY:0 }
[class*="--gaps:xyEq25"] { --gapXY:8px }
[class*="--gaps:xyEq50"] { --gapXY:8px }
[class*="--gaps:xyEq100"] { --gapXY:16px }

[class*="--gaps:xEq"] { --gapX:1px }
[class*="--gaps:xEq0"] { --gapX:0 }
[class*="--gaps:xEq25"] { --gapX:4px }
[class*="--gaps:xEq50"] { --gapX:8px }
[class*="--gaps:xEq100"] { --gapX:16px }

[class*="--gaps:yEq"] { --gapY:1px }
[class*="--gaps:yEq0"] { --gapY:0 }
[class*="--gaps:yEq25"] { --gapY:4px }
[class*="--gaps:yEq50"] { --gapY:8px }
[class*="--gaps:yEq100"] { --gapY:16px }

[v-cloak] { display:none!important }
[class~="optics:a11y"] {
    position:absolute!important;
    left:-100vw;
    width:0;
    clip:rect(0,0,0,0);
    overflow:hidden
}
[class~="optics:no"] {
    visibility:hidden;
    display:none
}
[class~="optics:yes"] {
    visibility:visible;
    display:flex
}
[class~="optics:noEmpty"]:empty {
    visibility:hidden;
    display:none
}
[class~="optics:noRxn"] { pointer-events:none }
[class~="optics:noFirst"]:first-of-type,
[class~="optics:noLast"]:last-of-type { display:none }

[class*="rhy:xStart25"] > * + * { margin-left: 6px }
[class*="rhy:xStart50"] > * + * { margin-left: 12px }
[class*="rhy:xStart100"] > * + * { margin-left: 24px }
[class*="rhy:yStart25"] > * + * { margin-top: 6px }
[class*="rhy:yStart50"] > * + * { margin-top: 12px }
[class*="rhy:yStart100"] > * + * { margin-top: 24px }

[class*="pad:xyEq0"] { padding: 0px; }
[class*="pad:xyEq25"] { padding: 6px; }
[class*="pad:xyEq75"] { padding: 18px; }
[class*="pad:xEq25"] {
    padding-left: 6px;
    padding-right: 6px;
}
[class*="pad:xEq50"] {
    padding-left: 12px;
    padding-right: 12px;
}
[class*="pad:xEnd25"] { padding-right: 6px }
[class*="pad:yEq0"] {
    padding-top: 0;
    padding-bottom: 0;
}
[class*="pad:yEq100"] {
    padding-top: 24px;
    padding-bottom: 24px;
}
[class*="pad:yEnd0"] { padding-bottom: 0 }
[class*="pad:yEnd100"] { padding-bottom: 24px }

[class*="iso:xStartAuto"] { margin-left: auto }
[class*="iso:xEnd25"] { margin-right: 6px }
[class*="iso:xEnd50"] { margin-right: 12px }
[class*="iso:yEq0"] {
    margin-top: 0;
    margin-bottom: 0;
}
[class*="iso:yEnd0"] { margin-bottom: 0 }
[class*="iso:yEnd25"] { margin-bottom: 6px }
[class*="iso:yEnd50"] { margin-bottom: 12px }
[class*="iso:yEnd100"] { margin-bottom: 24px }



:root{
    --edge-width:1px;
    --edge-style:solid;
    --edge-tint: #ccc
}
[class*="edge:"] {
    border-style:solid;
    border-width:0
}
hr[class*="edge:"] {
    border: 0;
    margin-bottom: unset;
    margin-top: unset;
}
[class*="edge:hr"] {
    height:var(--edge-width, 1px);
    background-clip:content-box
}
[class*="edge:vr"] {
    width:var(--edge-width, 1px);
    background-clip:content-box
}
[class*="edge:xyEq"] { border-width:var(--edge-width,1px) }
[class*="edge:xyEq0"] { border:0 }
[class*="edge:xEq"] {
    border-left-width:var(--edge-width,1px);
    border-right-widtht:var(--edge-width,1px)
}
[class*="edge:xEq0"] {
    border-left:0;
    border-right:0
}
[class*="edge:xStart"]{ border-left-width: var(--edge-width,1px) }
[class*="edge:xStart0"] { border-left:0 }
[class*="edge:xEnd"] { border-right-width: var(--edge-width,1px) }
[class*="edge:xEnd0"] { border-right:0 }
[class*="edge:yEq"] {
    border-bottom-width: var(--edge-width,1px);
    border-top-width: var(--edge-width,1px)
}
[class*="edge:yEq0"] {
    border-bottom:0;
    border-top:0
}
[class*="edge:yStart"] { border-top-width: var(--edge-width,1px) }
[class*="edge:yStart0"] { border-top:0 }
[class*="edge:yEnd"] { border-bottom-width: var(--edge-width,1px) }
[class*="edge:yEnd0"] { border-bottom:0 }

[class*="--def:primary"]:ont() { border-color:var(--edge-primary) }
[class*="--def:secondary"] { border-color:var(--edge-secondary) }

[class*="--def:tint"] { border-color:var(--edge-tint) }
[class*="--def:shade"] { border-color:var(--edge-shade) }
[class*="hr--def:primary"] { background-color:var(--edge-primary) }
[class*="hr--def:secondary"] { background-color:var(--edge-secondary) }
[class*="hr--def:tint"] { background-color:var(--edge-tint) }
[class*="hr--def:shade"] { background-color:var(--edge-shade) }
[class*="vr--def:primary"] { background-color:var(--edge-primary) }
[class*="vr--def:secondary"] { background-color:var(--edge-secondary) }
[class*="vr--def:tint"] { background-color:var(--edge-tint) }
[class*="vr--def:shade"]{ background-color:var(--edge-shade) }


[class*="rxn:info"] {
    background: transparent;
    transition: background .3s ease-in-out;
}

[class*="rxn:info"]:hover {
    background: #d9edf7;
}


/* body > .container-fluid {
    padding: 0;
}

.main {
    max-width: none !important;
    margin: 0 auto !important;
} */

.glyph {
    background: 0;
    border: 0;
    color: #000;
    opacity: .25;
}

.glyph:hover { opacity: 1 }

.label { font-size: 90% }

.fake-btn {
    background: none;
    border: 0;
    color: #999;
    display: block;
    padding: 6px 12px;
    text-align: left;
    width: 100%;
}

.fake-btn:hover {
    color: #666
}

.handle {
    cursor: grab
}
.handle > img {
    height: 16px;
    width: 16px;
}
