.glyph {
    background: 0;
    border: 0;
    color: #000;
    opacity: .25;
}

.glyph:hover { opacity: 1 }

.label { font-size: 90% }

.fake-btn {
    background: none;
    border: 0;
    color: #999;
    display: block;
    padding: 6px 12px;
    text-align: left;
    width: 100%;
}

.fake-btn:hover {
    color: #666
}

[class*="module:"] {
    float:none;
    position:relative
}
[class*="module:static"] { flex:none }

[class*="flex:"] {
    display:flex;
    flex-wrap:nowrap;
    width:100%
}
[class*="flex:v"] { flex-direction: column }
[class*="flex:vRev"] { flex-direction:column-reverse }
[class*="flex:vAuto"]{ width:auto }
[class*="flex:h"]{ flex-direction:row }
[class*="flex:h"] > * + * { margin-top:0 }
[class*="flex:hRev"] { flex-direction:row-reverse }
[class*="flex:hAuto"] { width:auto }
[class*=":wrap"] { flex-wrap:wrap }
[class*="--p:grid"] { justify-content:space-between }
[class*="--p:space"] { justify-content:space-around }
[class*="--p:start"] { justify-content:flex-start }
[class*="--p:end"] { justify-content:flex-end }
[class*="--p:middle"] { justify-content:center }
[class*="--s:start"] { align-items:flex-start }
[class*="--s:end"] { align-items:flex-end }
[class*="--s:middle"] { align-items:center }
[class*="--s:full"] { align-items:stretch }
[class*="--s:base"] { align-items:baseline }

/* [class*="rhy:xyEq"]>*+* { } */

[class*="rhy:xStart25"] > :nth-child(2n) { margin-left: 6px }
[class*="rhy:xStart50"] > :nth-child(2n) { margin-left: 12px }
[class*="rhy:xStart100"] > :nth-child(2n) { margin-left: 24px }
[class*="rhy:yStart50"] > :nth-child(2n) { margin-top: 12px }

[class*="pad:xyEq25"] { padding: 6px; }
[class*="pad:xEq25"] {
    padding-left: 6px;
    padding-right: 6px;
}
[class*="pad:xEq50"] {
    padding-left: 12px;
    padding-right: 12px;
}
[class*="pad:yEq0"] {
    padding-top: 0;
    padding-bottom: 0;
}
[class*="pad:yEnd0"] { padding-bottom: 0 }

[class*="iso:xStartAuto"] { margin-left: auto }
[class*="iso:xEnd25"] { margin-right: 6px }
[class*="iso:yEnd0"] { margin-bottom: 0 }
[class*="iso:yEnd25"] { margin-bottom: 6px }
[class*="iso:yEnd50"] { margin-bottom: 12px }



:root{
    --edge-width:1px;
    --edge-style:solid;
    --edge-tint: #ccc
}
[class*="edge:"] {
    border-style:solid;
    border-width:0
}
[class*="edge:hr"] {
    height:var(--edge-width,1px);
    background-clip:content-box
}
[class*="edge:vr"] {
    width:var(--edge-width,1px);
    background-clip:content-box
}
[class*="edge:xyEq"] { border-width:var(--edge-width,1px) }
[class*="edge:xyEq0"] { border:0 }
[class*="edge:xEq"] {
    border-left-width:var(--edge-width,1px);
    border-right-widtht:var(--edge-width,1px)
}
[class*="edge:xEq0"] {
    border-left:0;
    border-right:0
}
[class*="edge:xStart"]{ border-left-width:var(--edge-width,1px) }
[class*="edge:xStart0"] { border-left:0 }
[class*="edge:xEnd"] { border-right-width:var(--edge-width,1px) }
[class*="edge:xEnd0"] { border-right:0 }
[class*="edge:yEq"] {
    border-bottom-width:var(--edge-width,1px);
    border-top-width:var(--edge-width,1px)
}
[class*="edge:yEq0"] {
    border-bottom:0;
    border-top:0
}
[class*="edge:yStart"] { border-top-width:var(--edge-width,1px) }
[class*="edge:yStart0"] { border-top:0 }
[class*="edge:yEnd"] { border-bottom-width:var(--edge-width,1px) }
[class*="edge:yEnd0"] { border-bottom:0 }

[class*="--def:primary"] { border-color:var(--edge-primary) }
[class*="--def:secondary"] { border-color:var(--edge-secondary) }

[class*="--def:tint"] { border-color:var(--edge-tint) }
[class*="--def:shade"] { border-color:var(--edge-shade) }
[class*="hr--def:primary"] { background-color:var(--edge-primary) }
[class*="hr--def:secondary"] { background-color:var(--edge-secondary) }
[class*="hr--def:tint"] { background-color:var(--edge-tint) }
[class*="hr--def:shade"] { background-color:var(--edge-shade) }
[class*="vr--def:primary"] { background-color:var(--edge-primary) }
[class*="vr--def:secondary"] { background-color:var(--edge-secondary) }
[class*="vr--def:tint"] { background-color:var(--edge-tint) }
[class*="vr--def:shade"]{ background-color:var(--edge-shade) }


[class*="rxn:info"] {
    background: transparent;
    transition: background .3s ease-in-out;
}

[class*="rxn:info"]:hover {
    background: #d9edf7;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}.resource-list .handle { cursor: grab }
.resource-list .handle img {
    height: 16px;
    margin-top: -5px;
    width: 16px
}.course-section-hdr .handle {
    cursor: grab
}
.course-section-hdr .handle > img {
    height: 16px;
    margin-top: -5px;
    width: 16px;
}