{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block extra_head_title %}{% trans 'Assign Content Review' %}{% endblock extra_head_title %}
{% block content %}

    {% include "includes/messages.html" %}

    <h2>{% trans 'Assign Content Review' %}</h2>

    <h3>{{ resource.title }} (<a href="{% url 'orb_resource' resource.slug %}"
                                 target="_blank" class="preview">{% trans 'Preview' %}</a>)</h3>

    <div>
        <form method="POST" class="form-horizontal" action=".">{% csrf_token %}
            {% crispy form %}
        </form>
    </div>

{% endblock %}
