{% extends "base.html" %}
{% load i18n review_tags %}

{% block extra_head_title %}{% trans 'Pending Resources' %}{% endblock extra_head_title %}

{% block content %}

    <h2>{% trans 'Pending Resources' %}</h2>

    <h3>{% trans 'My Reviews' %}</h3>
    {% if review_assignments %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Assigned' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Organisation' %}</th>
                    <th colspan="2">{% trans 'Options' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for review in review_assignments %}
                    <tr>
                        <td>{{ review.update_date|date }}</td>
                        <td>{{ review.resource.title }}</td>
                        <td>
                            {% for organisation in review.resource.get_organisations %}
                                {{ organisation.name }}

                            {% endfor %}
                        </td>
                        <td>
                            <a target="_blank"
                               href="{% url 'orb_resource' review.resource.slug %}" class="preview">{% trans 'Preview' %}</a>
                        </td>
                        <td>
                            <a href="{% url 'orb_resource_review' review.resource.pk review.pk %}">{% trans 'Review' %}</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <p>{% trans 'No resources assigned for your review' %}</p>
    {% endif %}


    {% if user.is_staff and overdue_reviews %}
    <h3>{% trans 'Overdue Reviews' %}</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Assigned' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Reviewer' %}</th>
                    <th>{% trans 'Role' %}</th>
                    <th colspan="1">{% trans 'Options' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for review in overdue_reviews %}
                    <tr>
                        <td>{{ review.update_date|date }}</td>
                        <td>{{ review.resource.title }}</td>
                        <td>{{ review.reviewer.userprofile }}</td>
                        <td>{{ review.role }}</td>
                        <td>
                            <a href="{% url 'orb_assign_review' review.resource.pk %}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true" title="{% trans 'Assignments' %}"></span>
                                <span class="sr-only">{% trans 'Assignments' %}</a></span>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


    {% if user.is_staff %}
        <a name="unassigned" class="named-anchor"></a>
        <h3>{% trans 'Resources Requiring Review Assignment' %}</h3>

        {% if unassigned_resources %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans 'Submitted' %}</th>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Organisation' %}</th>
                        <th colspan="3">{% trans 'Options' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resource in unassigned_resources %}
                        <tr>
                            <td>{{ resource.create_date }}</td>
                            <td>{{ resource.title }}</td>
                            <td>
                                {% for organisation in resource.get_organisations %}
                                    {{ organisation.name }}

                                {% endfor %}
                            </td>
                            <td>
                                <a target="_blank" href="{% url 'orb_resource' resource.slug %}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{% trans 'Preview' %}"></span>
                                    <span class="sr-only">{% trans 'Preview' %}</span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'orb_assign_review' resource.pk %}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true" title="{% trans 'Assignments' %}"></span>
                                    <span class="sr-only">{% trans 'Assignments' %}</span>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'orb_staff_review' resource.pk %}">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true" title="{% trans 'Review' %}"></span>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" title="{% trans 'Review' %}"></span>
                                    <span class="sr-only">{% trans 'Review' %}</span>
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>{% trans 'No resources pending review' %}</p>
        {% endif %}
    {% endif %}

    <a name="all" class="named-anchor"></a>
    <h3>{% trans 'All Resources' %}</h3>

    {% if pending_resources %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Submitted' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Organisation' %}</th>
                    <th>{% trans 'Options' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for resource in pending_resources %}
                    <tr>
                        <td>{{ resource.create_date }}</td>
                        <td>{{ resource.title }}{% status_labels resource %}</td>
                        <td>
                            {% for organisation in resource.get_organisations %}
                                {{ organisation.name }}

                            {% endfor %}
                        </td>
                        <td>
                            <a target="_blank" href="{% url 'orb_resource' resource.slug %}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="{% trans 'Preview' %}"></span>
                                <span class="sr-only">{% trans 'Preview' %}</span>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{% trans 'No resources pending review' %}</p>
    {% endif %}


{% endblock %}
