{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block extra_head_title %}{% trans 'Content Review' %}{% endblock extra_head_title %}
{% block content %}

<h2>{% trans 'Start Content Review' %}</h2>

<h3>{{ resource.title }} (<a href="{% url 'orb_resource' resource.slug %}"
                                    target="_blank" class="preview">{% trans 'Preview' %}</a>)</h3>

<div class="well">
<p>{% blocktrans %}
In order to review, click "Start" below and this will make you the reviewer for the '{{ role }}' role.
{% endblocktrans %}</p>
</div>


<form method="POST" action=".">{% csrf_token %}
    {%  for role in roles %}
        <button class="btn btn-success" name="role" value="{{ role.pk }}">
            {% blocktrans %}
                Start {{ role }} Review
            {% endblocktrans %}
        </button>
    {% endfor %}
<a href="{% url 'orb_pending_resources' %}">{% trans 'Cancel' %}</a>
</form>

{% endblock %}
