{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block extra_head_title %}{% trans 'Your Profile' %}{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Your Profile' %}</h2>

{% include "includes/messages.html" %}	

{% if user.userprofile.photo %}
	{% thumbnail user.userprofile.photo "80x80" format="PNG" padding=True as im %}
		<div class="col-lg-2">&nbsp;</div>
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail profile-image" >
	{% endthumbnail %}	
{% endif %}

{% crispy form %}

<div style="clear:both"></div>
<h3>{% trans 'Export Data' %}</h3>

<a href="{% url 'profile_export_data' %}" class="btn btn-default">{% trans 'Export Data' %}</a>

<h3>{% trans 'Delete Account' %}</h3>

<a href="{% url 'profile_delete_account' %}" class="btn btn-default">{% trans 'Delete Account' %}</a>

{% endblock %}
