{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block extra_head_title %}{{ viewuser.first_name }} {{ viewuser.last_name }} - {% trans 'profile' %}{% endblock extra_head_title %}


{% block content %}

<div class="row profile">
	<div class="col-lg-2 vcenter">
		{% if viewuser.userprofile.photo %}
			{% thumbnail viewuser.userprofile.photo "80x80" format="PNG" padding=True as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail profile-image" >
			{% endthumbnail %}	
		{% endif %}
	</div><!-- 
	--><div class="col-md-8 col-xs-8 vcenter" >
		<h2> {{ viewuser.first_name }} {{ viewuser.last_name }}</h2>
	</div>
</div>

{% if viewuser.userprofile.role or viewuser.userprofile.role_other %}
	<div class="row profile">
		<div class="col-lg-2">
			<strong>{% trans 'Role' %}</strong>
		</div><!-- 
		--><div class="col-md-8 col-xs-8" >
			{% if viewuser.userprofile.role %}
				{{ viewuser.userprofile.role }}
			{% else %}
				{{ viewuser.userprofile.role_other }}
			{% endif %}
		</div>
	</div>
{% endif %}

{% if viewuser.userprofile.organisation %}
	<div class="row profile">
		<div class="col-lg-2">
			<strong>{% trans 'Organisation' %}</strong>
		</div><!-- 
		--><div class="col-md-8 col-xs-8 vcenter" >
				{{ viewuser.userprofile.organisation.name }}
		</div>
	</div>
{% endif %}

{% if viewuser.userprofile.about %}
	<div class="row profile">
		<div class="col-lg-2">
			<strong>{% trans 'About' %}</strong>
		</div><!-- 
		--><div class="col-md-8 col-xs-8" >
				{{ viewuser.userprofile.about }}
		</div>
	</div>
{% endif %}

{% if viewuser.userprofile.website %}
	<div class="row profile">
		<div class="col-lg-2">
			<strong>{% trans 'Website' %}</strong>
		</div><!-- 
		--><div class="col-md-8 col-xs-8" >
				<a href="{{ viewuser.userprofile.website }}">{{ viewuser.userprofile.website }}</a>
		</div>
	</div>
{% endif %}

{% if viewuser.userprofile.twitter %}
	<div class="row profile">
		<div class="col-lg-2">
			<strong>{% trans 'Twitter' %}</strong>
		</div><!-- 
		--><div class="col-md-8 col-xs-8" >
				<a href="{{ viewuser.userprofile.get_twitter_url }}">{{ viewuser.userprofile.twitter }}</a>
		</div>
	</div>
{% endif %}

{% if viewuser.id == user.id %}
	<div class="col-lg-offset-2 col-lg-8">
		<a href="{% url 'my_profile_edit' %}" class="btn btn-primary btn btn-default" >{% trans 'Edit' %}</a>
	</div>
{% endif %}
{% endblock %}