{% extends "base.html" %} 
{% load i18n %} 
{% block extra_head_title %}
	{% trans 'About' %}
{% endblock extra_head_title %} 

{% block content %}

<h2>{% trans 'About ORB' %}</h2>
{% blocktrans %}

<p>ORB offers frontline health workers and trainers access to
	quality assured open source content that can be used on mobile devices
	and shared virally amongst communities.</p>

<p>ORB has three unique features:
<ol>
	<li>Brings into one space quality-assured, multimedia materials
		from multiple content developers, with a focus on maternal and child
		health.</li>
	<li>Adaptation of existing content ORB aims to reduce the practice
		of new content being developed unnecessarily.</li>
	<li>A global collaborative network of organizations to share and
		review content, integrate content into programs and share
		user-experience.</li>
</ol>
</p>

<p>By improving access to health content and mobile learning, ORB
	helps health workers access the vital content they need to do their
	work effectively and confidently.</p>

<p>
	ORB has been developed by the <a href="http://mpoweringhealth.org">mPowering
		Frontline Health Workers</a> partnership.
</p>

{% endblocktrans %}


<h3><a name="crt"></a>{% trans 'Content Review Team' %}</h3>
{% blocktrans %}

{% endblocktrans %} 


<h3><a name="mep"></a>{% trans 'Medical Expert Panel' %}</h3>
{% blocktrans %}

{% endblocktrans %} 

<h4>{% trans 'Photo Credits' %}</h4>
{% blocktrans %}
Credits for homepage photos:
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
{% endblocktrans %}

{% endblock content %}
