{% extends "base.html" %} 
{% load i18n %} 
{% block extra_head_title %}
	{% trans 'About' %}
{% endblock extra_head_title %} 

{% block content %}

<h2>{% trans 'About ORB' %}</h2>
{% blocktrans %}
<p>ORB offers frontline health workers and trainers access to
	quality assured open source content that can be used on mobile devices
	and shared virally amongst communities.
<p>
<p>ORB brings into one space curated, quality- assured, multimedia
	materials from multiple content developers. The content covers the
	RMNCH spectrum for health workers and supervisors. ORB promotes open
	source content, and encourages re-use and adaptation of content to
	reduce the practice of trainers developing new content unnecessarily.
	It improves access to mHealth content and mobile learning so that
	training can reach significantly more health workers. Finally, ORB
	brings together a global collaborative network of organizations to
	share their content, review content and user experience, integrate
	content into programs, and advocate for use of the platform. Including
	WASH, nutrition, and violence</p>

<p>ORB has been developed by the <a href="http://mpoweringhealth.org">mPowering Frontline Health Workers</a> coalition.</p>
{% endblocktrans %}


<h3><a name="crt"></a>{% trans 'Content Review Team' %}</h3>
{% blocktrans %}

{% endblocktrans %} 


<h3><a name="mep"></a>{% trans 'Medical Expert Panel' %}</h3>
{% blocktrans %}

{% endblocktrans %} 

<h4>{% trans 'Photo Credits' %}</h4>
{% blocktrans %}
Credits for homepage photos:
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
{% endblocktrans %}

{% endblock content %}
