{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head_title %}{% trans 'Search' %}{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Search' %}</h2>

{% crispy form %}

{% if query %}
      <h3>{% trans 'Results' %}</h3>

	  {% include "mpowering/includes/page_navigator.html" %}
      {% for resource in page.object_list %}
      	  {% with resource.object as resource %}
	      	{% include "mpowering/includes/resource_row.html" %}
	      {% endwith %}
      {% empty %}
          <p>{% trans 'No results found.' %}</p>
      {% endfor %}
      {% include "mpowering/includes/page_navigator.html" %}
{% endif %}
{% endblock %}