{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h2>{% trans 'Search' %}</h2>

{% crispy form %}


{% if query %}
      <h3>Results</h3>

      {% for result in search_results %}
	      <div class="row"> 
			<div class="col-md-8">
				<a href="{% url 'mpowering_resource' result.object.slug %}"><h4>{{ result.object.title }}</h4></a>
				
				<h4>
				{% for t in result.object.get_type_tags %}
					{{ t.name }}{% if not forloop.last %}, {% endif %}
				{% endfor %}
				</h4>
				
				{% for o in result.object.get_organisations %}
					{{ o.name }}{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</div>
			<div class="col-md-2">
	            {% if result.object.image %}
					<img src="{% url 'mpowering_resource_image' result.object.id 200 %}" style="max-width:200px" class="thumbnail"/>
				{% endif %}
			</div>
		</div>
 		<hr/>
      {% empty %}
          <p>No results found.</p>
      {% endfor %}
{% endif %}
{% endblock %}