{% extends "base.html" %}
{% load i18n %} 

{% block content %}

<h2 style="text-align:center">{{ tag.name }}</h2>


{% for r in resources %}
	<div style="clear:both;">
		<img src="{{ MEDIA_URL }}{{ r.image }}" style="float:left; max-width: 20%; margin-right: 20px;" class="thumbnail"/>
		<a href="{% url 'mpowering_resource' r.slug %}"><h3>{{ r.title }}</h3></a>
		
		<h4>
		{% for t in r.get_type_tags %}
			{{ t.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</h4>
		
		{% for o in r.get_organisations %}
			{{ o.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
	
	</div>
{% endfor %}


{% endblock %}