{% extends "base.html" %}
{% load i18n %} 
{% load add_get_parameter %}



{% block extra_scripts %}
<script type="text/javascript">
function OnOrderChange(dropdown) {
		    var myindex  = dropdown.selectedIndex;
		    var selValue = dropdown.options[myindex].value;
		    top.location.href = selValue;
		    return true;
		}
		</script>
{% endblock extra_scripts %}

{% block content %}

<h2 style="text-align:center">{{ tag.name }}</h2>

<form method="get">
{% trans 'Order by: ' %}
<select name="order" onchange="OnOrderChange(this.form.order);">
		{% for k,v in ordering %}
		 		<option value="{% add_get order=k %}">
		 			{{ v }}
		 		</option>
		{% endfor %}
	</select>
</form>



{% include "mpowering/includes/page_navigator.html" %}

{% for r in page.object_list %}
	 <div class="row"> 
			<div class="col-md-8">
				<a href="{% url 'mpowering_resource' r.slug %}"><h4>{{ r.title }}</h4></a>
				
				<h4>
				{% for t in r.get_type_tags %}
					{{ t.name }}{% if not forloop.last %}, {% endif %}
				{% endfor %}
				</h4>
				
				{% for o in r.get_organisations %}
					{{ o.name }}{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</div>
			<div class="col-md-2">
	            {% if r.image %}
					<img src="{% url 'mpowering_resource_image' r.id 200 %}" style="max-width:200px" class="thumbnail"/>
				{% endif %}
			</div>
		</div>
 		<hr/>
{% endfor %}

{% include "mpowering/includes/page_navigator.html" %}

{% endblock %}