{% extends "base.html" %}
{% load i18n %} 
{% load add_get_parameter %}
{% load thumbnail %}

{% block extra_head_title %}{{ tag.name }}{% endblock extra_head_title %}
{% block extra_head_feed %}
<link rel="alternate" type="application/rss+xml" title="RSS"
      href="{% url 'mpowering_tag_feed' tag.slug %}">
{% endblock extra_head_feed %}

{% block extra_scripts %}
	<script type="text/javascript">
		function OnOrderChange(dropdown) {
		    var myindex  = dropdown.selectedIndex;
		    var selValue = dropdown.options[myindex].value;
		    top.location.href = selValue;
		    return true;
		}
	</script>
{% endblock extra_scripts %}

{% block content %}

{% include 'mpowering/includes/search_bar.html' %}

<h2 style="text-align:center">
	{% if tag.parent_tag %}
		{{ tag.parent_tag.name}}: 
	{% endif %}
    {% thumbnail tag.image "70x70" format="PNG" padding=True as im %}
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
	{% endthumbnail %}{{ tag.name }}</h2>
	
{% if tag.description %}
	<p>{{ tag.description }}</p>
{% endif %}

{% if child_tags %}
	{% for tag in child_tags %}
		<a href="{% url 'mpowering_tags' tag.slug %}">{{ tag.name}} ({{ tag.resource_count }})</a>
	{% endfor %}
{% endif %}


<div class="orderby">
	<form method="get">
	{% trans 'Order by: ' %}
	<select name="order" onchange="OnOrderChange(this.form.order);">
			{% for k,v in ordering %}
			 		<option value="{% add_get order=k %}" {% if k == current_order %}selected="selected" {% endif %}>
			 			{{ v }}
			 		</option>
			{% endfor %}
		</select>
	</form>
</div>

{% include "mpowering/includes/page_navigator.html" %}

{% for resource in page.object_list %}
	{% include "mpowering/includes/resource_row.html" %}
{% endfor %}

{% include "mpowering/includes/page_navigator.html" %}

{% endblock %}