{% extends "base.html" %}
{% load i18n %} 
{% load display_functions %} 
{% block extra_head_title %}{% trans 'Tag cloud' %}{% endblock extra_head_title %}

{% block content %}

{% include 'mpowering/includes/search_bar.html' %}

<h2 style="text-align:center">{% trans 'Tag cloud' %}</h2>

<p style="text-align:center">
{% for t in tags %}
	<span style="font-size:{{ t.dcount|cloud_text_size:diff }}px;"><a href="{% url 'mpowering_tags' t.slug %}" title="{{ t.dcount }} resources">{{ t.name }}</a></span>
{% endfor %}
</p>

{% endblock %}