{% extends "base.html" %}
{% load i18n %}

{% block extra_head_title %}{% trans 'Analytics' %}{% endblock extra_head_title %}

{% block extra_scripts %}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.0', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);
        function drawChart() {

            // activity graph
            var data = new google.visualization.DataTable();
            data.addColumn('string', "{% trans 'Date' %}");
            data.addColumn('number', "{% trans 'Total' %}");
            data.addColumn('number', "{% trans 'Resource Views' %}");
            data.addColumn('number', "{% trans 'Resource File Views' %}");
            data.addColumn('number', "{% trans 'Resource URL Views' %}");
            data.addColumn('number', "{% trans 'Searches' %}");
            data.addRows({{ recent_activity|length }});

            {% for date,activity in recent_activity %}
                data.setValue({{ forloop.counter0 }}, 0, '{{ date }}');
                data.setValue({{ forloop.counter0 }}, 1, {{ activity.total }});
                data.setValue({{ forloop.counter0 }}, 2, {{ activity.resource }});
                data.setValue({{ forloop.counter0 }}, 3, {{ activity.resource_file }});
                data.setValue({{ forloop.counter0 }}, 4, {{ activity.resource_url }});
                data.setValue({{ forloop.counter0 }}, 5, {{ activity.search }});
            {% endfor %}

            var chart = new google.visualization.LineChart(document.getElementById('activity_chart_div'));
            chart.draw(data, {
                width: "100%",
                height: 400,
                vAxis: {title: "{% trans 'Activity' %}"},
                pointSize: 5,
                chartArea: {left: 50, top: 50, width: "70%", height: "70%"},
                backgroundColor: 'transparent',
                legend: {position: 'right'}
            });

            // registration graph
            var data = new google.visualization.DataTable();
            data.addColumn('string', "{% trans 'Date' %}");
            data.addColumn('number', "{% trans 'Users' %}");
            data.addRows({{ user_registrations|length }});

            {% for date,users in user_registrations %}
                data.setValue({{ forloop.counter0 }}, 0, '{{ date }}');
                data.setValue({{ forloop.counter0 }}, 1, {{ users }});
            {% endfor %}

            var chart = new google.visualization.LineChart(document.getElementById('registrations_chart_div'));
            chart.draw(data, {
                width: "100%",
                height: 400,
                vAxis: {title: "{% trans 'User Registrations' %}"},
                pointSize: 5,
                chartArea: {left: 50, top: 50, width: "70%", height: "70%"},
                backgroundColor: 'transparent',
                legend: {position: 'right'}
            });

        }

    </script>
{% endblock extra_scripts %}


{% block content %}

    <h2>{% trans 'Analytics' %}</h2>

    <p><a href="#ag">{% trans 'Activity Graph' %}</a>
        | <a href="#pc">{% trans 'Pending Review' %}</a>
        | <a href="#reg">{% trans 'User Registrations' %}</a>
        | <a href="#ps">{% trans 'Popular Searches' %}</a>
        | <a href="#pr">{% trans 'Popular Resources' %}</a>
        | <a href="#o">{% trans 'Organisations' %}</a>
        | <a href="#am">{% trans 'Activity Map' %}</a></p>

    <a name="ag" class="named-anchor"></a>
    <h3>{% trans 'Activity Graph' %}</h3>
    <div id="activity_chart_div" class="graph">{% trans 'graph_generating' %}</div>

    <a name="pc" class="named-anchor"></a>
    <h3>{% trans 'Pending Review' %}</h3>

    {% if pending_resources %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Submitted' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Organisation' %}</th>
                    <th>{% trans 'Options' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for pr in pending_resources %}
                    <tr>
                        <td>{{ pr.create_date }}</td>
                        <td>{{ pr.title }}</td>
                        <td>
                            {% for o in pr.get_organisations %}
                                {{ o.name }}

                            {% endfor %}
                        </td>
                        <td>
                            <a target="_blank"
                               href="{% url 'orb_resource' pr.slug %}">{% trans 'Preview' %}</a>

                            <a href="{% url 'orb_staff_review' pr.pk %}">
                                <button class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true" title="{% trans 'Review' %}"></span>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" title="{% trans 'Review' %}"></span>
                                </button>
                                <span class="sr-only">{% trans 'Review' %}</span>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{% trans 'No resources pending review' %}</p>
    {% endif %}

    <a name="reg" class="named-anchor"></a>
    <h3>{% trans 'User Registrations' %}</h3>
    <p>{% trans 'Total registrations' %}: {{ total_user_registrations }}</p>
    <p><a href="{% url 'orb_analytics_mailing_list' %}">Get mailing list</a></p>
    <div id="registrations_chart_div" class="graph">{% trans 'graph_generating' %}</div>

    <a name="ps" class="named-anchor"></a>
    <h3>{% trans 'Popular Searches (last month)' %}</h3>
    <ul>
        {% for ps in popular_searches %}
            <li><a href="{% url 'orb_search' %}?q={{ ps.query }}">{{ ps.query }}
                ({{ ps.total_hits }})</a></li>
        {% endfor %}
    </ul>

    <a name="pt" class="named-anchor"></a>
    <h3>{% trans 'Popular Tags (last month)' %}</h3>
    <ul>
        {% for pt in popular_tags %}
            <li><a href="{% url 'orb_tags' pt.tag__slug %}">{{ pt.tag__name }}
                ({{ pt.total_hits }})</a></li>
        {% endfor %}
    </ul>

    <a name="pr" class="named-anchor"></a>
    <h3>{% trans 'Popular Resources (last month)' %}</h3>
    <ul>
        {% for pr in popular_resources %}
            <li><a href="{% url 'orb_resource' pr.resource__slug %}">{{ pr.resource__title }}</a>
                ({{ pr.total_hits }} | <a
                        href="{% url 'orb_analytics_resource' pr.resource__id %}">{% trans 'stats' %}</a>)
            </li>
        {% endfor %}
    </ul>

    <a name="sno" class="named-anchor"></a>
    <h3>{% trans 'Searches with no results (last 3 months)' %}</h3>
    <ul>
        {% for ps in searches_no_results %}
            <li><a href="{% url 'orb_search' %}?q={{ ps.query }}">{{ ps.query }}
                ({{ ps.total_hits }})</a></li>
        {% endfor %}
    </ul>

    <a name="o" class="named-anchor"></a>
    <h3>{% trans 'Organisations' %}</h3>
    <h4>{% trans 'Organizations with Approved Resources' %}</h4>
    <p>({% trans 'Approved content count in parentheses.' %})</p>
    <ul>
        {% for o in organisations_approved %}
            <li><a href="{% url 'orb_analytics_tag' o.id %}">{{ o.name }}
                ({{ o.total_resources }})</a></li>
        {% endfor %}
    </ul>
    <h4>{% trans 'Organizations without Approved Resources' %}</h4>
    <ul>
        {% for o in organisations_unapproved %}
            <li><a href="{% url 'orb_analytics_tag' o.id %}">{{ o.name }}</a></li>
        {% endfor %}
    </ul>

    <a name="am" class="named-anchor"></a>
    <h3>{% trans 'Activity Map' %}</h3>
    <iframe width='100%' height='520' frameborder='0'
            src='https://mpowering.cartodb.com/viz/accaec34-03e6-11e5-a245-0e4fddd5de28/embed_map?title=false&#038;description=false&#038;search=false&#038;shareable=true&#038;cartodb_logo=true&#038;layer_selector=false&#038;legends=false&#038;scrollwheel=true&#038;fullscreen=true&#038;sublayer_options=1&#038;sql='
            allowfullscreen webkitallowfullscreen mozallowfullscreen
            oallowfullscreen msallowfullscreen></iframe>

    <p>{% trans 'Countries' %}:</p>
    <ol>
        {% for c in countries %}
            <li>{{ c }}</li>
        {% endfor %}
    </ol>

{% endblock %}
