{% extends "base.html" %}
{% load i18n %}

{% block extra_head_title %}{% trans 'Pending Resources' %}{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Pending Resources' %}</h2>

<a name="pc" class="named-anchor"></a>

{% if pending_resources %}
<div class="table-responsive">
         <table class="table table-striped">
         	 <thead>
                <tr>
                  <th>{% trans 'Submitted' %}</th>
                  <th>{% trans 'Title' %}</th>
                  <th>{% trans 'Organisation' %}</th>
                  <th>{% trans 'Options' %}</th>
                </tr>
              </thead>
              <tbody>
			{% for pr in pending_resources %}
 			 <tr>
 			 	  <td>{{ pr.create_date }}</td>
                  <td>{{ pr.title }}</td>
                  <td>
                  	{% for o in pr.get_organisations %}
                  		{{ o.name }}

                  	{% endfor %}
                  </td>
                  <td>
                  <a target="_blank" href="{% url 'orb_resource' pr.slug %}">{% trans 'Preview' %}</a>
                  </td>

                </tr>
 			{% endfor %}
 			</tbody>
 		</table>
	</div>
{% else %}
	<p>{% trans 'No resources pending review' %}</p>
{% endif%}

{% endblock %}
