{% extends "base.html" %} {% load i18n %}

{% block extra_head_title %}{% trans 'Visitor Analytics' %}{% endblock extra_head_title %}

{% block content %}

<h2>{% trans 'Visitor Analytics' %} for {{ archive_month|date:"M Y" }}</h2>

{% blocktrans %}
<p>Also look at the stats/analytics on <a href="https://analytics.google.com/">Google Analytics</a></p>
{% endblocktrans %}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Metric' %}</th>
				<th>{% trans 'Total' %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% trans 'Unique registered users' %}</td>
				<td>{{ stats.user_hits }}</td>
			</tr>
			<tr>
				<td>{% trans 'Unique anonymous users (IP)' %}</td>
				<td>{{ stats.anon_hits }}</td>
			</tr>
			<tr>
				<td>{% trans 'Total unique users' %}</td>
				<td>{{ stats.anon_hits|add:stats.user_hits }}</td>
			</tr>
			<tr>
				<td>{% trans 'Total new registrations' %}</td>
				<td>{{ stats.registrations }}</td>
			</tr>
			<tr>
				<td>{% trans 'Total distinct visitor countries' %}</td>
				<td>{{ stats.countries }}</td>
			</tr>
			<tr>
				<td>{% trans 'Total searches' %}</td>
				<td>{{ stats.searches }}</td>
			</tr>
			<tr>
				<td>{% trans 'Resources submitted' %}</td>
				<td>{{ stats.resources_submitted }}</td>
			</tr>
			<tr>
				<td>{% blocktrans with archive_month|date:"M Y" as month %}Total approved resources (until end {{ month }}){% endblocktrans %}</td>
				<td>{{ stats.resources }}</td>
			</tr>
			<tr>
				<td>{% trans 'Total languages' %}</td>
				<td>{{ stats.languages }}</td>
			</tr>
		</tbody>
	</table>
</div>

<h3>{% trans 'Other Months' %}</h3>

<ul>
{% for e in month_views %}
	<li><a href="{% url 'orb_analytics_visitor_month_view' e|date:"Y" e|date:"n" %} ">{{ e|date:"M Y" }}</a></li>
{% endfor %}
</ul>


{% endblock %}
