{% load i18n %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    {% if page_title %}
        <title>{% trans 'ORB by mPowering' %}</title>
    {% else %}
        <title>{% block extra_head_title %}{% endblock extra_head_title %}
            - {% trans 'ORB' %}</title>
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <META name="description"
          content="Frontline health workers provide critical care to
         millions of people around the world. ORB is a global online library helping
         them access the information, training and support they need."/>
    <META name="keywords"
        content="mPowering, frontline health workers, orb, open resource bank,
        online resource bank, platform, MNCH, maternal, care, post natal,
        postnatal, ante natal, antenatal, child, children, health,
        quiz, assessment, mobile, android, learning, video, media,
        {% block extra_head_keywords %}{% endblock extra_head_keywords %}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image"
          content="{{ BASE_URL }}{{ STATIC_URL }}orb/images/orb-embed-200px.png">
    <link rel="search" type="application/opensearchdescription+xml"
          href="{% url 'orb_opensearch' %}" title="Add ORB search">
    {% block extra_head_feed %}{% endblock extra_head_feed %}

    <!-- Bootstrap -->
    <link
            href="{{ STATIC_URL }}orb/bootstrap-3.1.1/css/bootstrap.min.css"
            rel="stylesheet"/>

    <link href="{{ STATIC_URL }}orb/style.css" rel="stylesheet"/>

    <link rel="shortcut icon" type="image/png"
          href="{{ STATIC_URL }}orb/images/icon-white.png"/>
    {% block extra_styles %}{% endblock extra_styles %}
    {% block extra_scripts %}{% endblock extra_scripts %}
</head>

<body {% block extra_body %}{% endblock extra_body %}>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% include "includes/header.html" %}
</div>
<div class="container-fluid">
    <div class="main" style="max-width: 1000px; margin: 20px auto;">
    {% include "includes/i18n.html" %}
        {% if STAGING %}
            <div class="alert alert-danger">
                This is the development server, anything added here will not be shared on the live
                site
            </div>
        {% endif %}
        {% block content %} {% endblock content %}
    </div><!--  end main -->
</div><!--  end container -->

<div id="footer" class="footer">
    <div class="row">
        <div class="col-md-3 text-muted">
            <h4>{% trans 'Contact Us' %}</h4>
            <a href="mailto:{{ settings.ORB_INFO_EMAIL }}">{{ settings.ORB_INFO_EMAIL }}</a>
        </div>
        <div class="col-md-3 text-muted">
            <h4>{% trans 'Follow Us' %}</h4>
            <a href="https://twitter.com/mpoweringhealth">{% trans 'Twitter' %}</a><br/>
            <a href="http://mpoweringhealth.org/blog/">{% trans 'Blog' %}</a>
        </div>
        <div class="col-md-3 text-muted">
            <h4>{% trans 'About Us' %}</h4>
            <a href="{% url 'orb_about' %}">{% trans 'About' %}</a><br/>
            <a href="{% url 'orb_about' %}#crt">{% trans 'Content Review Team' %}</a><br/>
            <a href="{% url 'orb_about' %}#mep">{% trans 'Medical Expert Panel' %}</a><br/>
            <a href="{% url 'orb_partners' %}">{% trans 'Content Partners' %}</a><br/>
            <a href="{% url 'orb_how_to' %}">{% trans 'How to use ORB resources' %}</a><br/>
            <a href="{% url 'orb_developers' %}">{% trans 'Developers Area' %}</a><br/>
        </div>
        <div class="col-md-3 text-muted">
            {{ version }} &copy; {% now "Y" %} <a
                href="http://mpoweringhealth.org/">mPowering</a><br/>
            <a href="{% url 'orb_terms' %}">{% trans 'Terms and Privacy Policy' %}</a><br/>
        </div>
    </div>

    <script src="{{ STATIC_URL }}orb/js/jquery-1.11.0.min.js"></script>
    <script src="{{ STATIC_URL }}orb/bootstrap-3.1.1/js/bootstrap.min.js"></script>
    <script>$("#i18n").change(function() { this.form.submit(); });</script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script',
                '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ ORB_GOOGLE_ANALYTICS_CODE }}', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>

