{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'orb_home' %}" style="margin-top:-20px;"><img
                    src="{% static 'orb/images/orb-logo-white-60px.png' %}"/>
                <small>{%  trans 'by mPowering' %}</small>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown"><a href="#" data-toggle="dropdown"
                                        class="dropdown-toggle">{% trans 'Browse Resources' %} <b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for t in header_menu_categories %}
                            <li><a href="{% url 'orb_tags' t.slug %}">{{ t.name }}</a></li>
                        {% endfor %}
                        <li><a href="{% url 'orb_country_map' %}">{% trans 'Country Map' %}</a></li>
                        <li><a href="{% url 'orb_toolkits' %}">{% trans 'Toolkits' %}</a></li>
                    </ul>
                </li>

                <li><a href="{% url 'orb_resource_create' %}">{% trans 'Add Resource' %}</a></li>


                {% if header_owns_tags or user.is_staff %}
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                                            class="dropdown-toggle">{% trans 'Analytics' %} <b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for h in header_owns_tags %}
                            <li>
                                <a href="{% url 'orb_analytics_tag' h.tag.id %}">{{ h.tag.name }}</a>
                            </li>
                        {% endfor %}
                        {% if user.is_staff %}
                            <li>
                                <a href="{% url 'orb_analytics_home' %}">{% trans 'Site analytics' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'orb_analytics_visitor' %}">{% trans 'Monthly Analytics' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'orb_analytics_kpi' %}">{% trans 'KPI Report' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'orb_analytics_map' %}">{% trans 'Activity Map' %}</a>
                            </li>
                        {% endif %}
                        {% if user.is_staff or reviewer %}
                            <li>
                                <a href="{% url 'orb_pending_resources' %}">{% trans 'Pending Resources' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if user.is_authenticated %}
                    <li class="dropdown"><a href="#" data-toggle="dropdown"
                                            class="dropdown-toggle">{% trans 'My ORB' %} <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'my_profile_view' %}">{% trans 'View Profile' %}</a>
                            </li>
                            <li><a href="{% url 'my_profile_edit' %}">{% trans 'Edit Profile' %}</a>
                            </li>
                            <li><a href="{% url 'my_ratings_view' %}">{% trans 'Rated' %}</a></li>
                            {% if user.userprofile.is_reviewer %}
                                <li><a href="{% url 'orb_user_reviews' %}">{% trans 'Resource Reviews' %}</a>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'my_bookmarks_view' %}">{% trans 'Bookmarks' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'profile_logout' %}">{% trans 'Logout' %}</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'profile_login' %}">{% trans 'Login' %}</a></li>
                    <li><a href="{% url 'profile_register' %}">{% trans 'Register' %}</a></li>
                {% endif %}

              {# Help section #}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{% trans 'Help' %}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'orb_how_to' %}">{% trans 'How to use ORB' %}</a></li>
                  <li><a href="{% url 'orb_guidelines' %}">{% trans 'Resource Guidelines' %}</a></li>
                  <li><a href="{% url 'orb_about' %}#crp">{% trans 'Content Review Process' %}</a></li>
                  <li><a href="{% url 'orb_cc_faq' %}">{% trans 'Creative Commons FAQs' %}</a></li>
                  {#                  <li><a href="https://mpowering.readthedocs.io/">{% trans 'Technical Documentation' %}</a></li>#}
                  {#                  <li><a href="{% url 'orb_partners' %}">{% trans 'Content Partners' %}</a></li>#}
                  {#                  <li><a href="{% url 'orb_about' %}">{% trans 'About ORB' %}</a></li>#}
                </ul>
              </li>


                {% csrf_token %}
                {% get_available_languages as languages %}
                {% if languages|length > 1 %}
                <li class="dropdown"><a href="#" data-toggle="dropdown"
                                        class="dropdown-toggle">{% trans 'Language' %} ({{ LANGUAGE_CODE }}) <b class="caret"></b></a>
                    <ul class="dropdown-menu" id="language-selection">
                        {% for language in languages %}
                            {% if language.0 != LANGUAGE_CODE %}
                            <li>
                                <a href="{% url 'set_language' %}" data-code="{{ language.0 }}" class="language-selection">
                                    {{ language.1 }} ({{ language.0 }})
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>

{% endblock content %}

