{
    "plugins": [
      "transform-object-rest-spread",
    ],
    "presets": [
      [
        "env",
        "vue",
        {
          "modules": false,
          "useBuiltIns": "usage",
          "debug": false
        }
      ]
    ]
  }
