.row--pStart--sMiddle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row--pStart--sBase {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.row--pEnd--sMiddle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rhy--xStart25 > :nth-child(2n){
    margin-left: 6px
}

.rhy--xStart50 > :nth-child(2n){
    margin-left: 12px
}

.rhy--xStart > :nth-child(2n){
    margin-left: 24px
}

.pad--y0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pad--yEnd0 {
    padding-bottom: 0;
}

.pad--x25 {
    padding-left: 6px;
    padding-right: 6px;
}

.pad--xy25 {
    padding: 6px;
}

.iso--xStartAuto {
    margin-left: auto
}

.iso--yEnd25 {
    margin-bottom: 6px;
}

.iso--yEnd0 {
    margin-bottom: 0;
}

.iso--xEnd25 {
    margin-right: 6px;
}

.hl--xy {
    border: 1px solid #ccc
}

.rxn--info {
    background: transparent;
    transition: background .3s ease-in-out;
}

.rxn--info:hover {
    background: #d9edf7;
}

.glyph {
    border: 0;
    background: 0;
    color: #000;
    opacity: .25;
}

.glyph:hover {
    opacity: 1;
}

.label {
    font-size: 90%
}

.fake-btn {
    display: block;
    width: 100%;
    padding: 6px 12px;
    text-align: left;
    background: none;
    border: 0;
    color: #999
}

.fake-btn:hover {
    color: #666
}
