{% load i18n %} 
{% load thumbnail %}
<div class="row"> 
	<div class="col-md-8">
		<a href="{% url 'mpowering_resource' resource.slug %}"><h4>{{ resource.title }}</h4></a>
		
		<h4>
		{% for t in resource.get_type_tags %}
			{{ t.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		{% trans 'from ' %}
		{% for o in resource.get_organisations %}
			{{ o.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</h4>
		<p>{{ resource.description|safe|truncatewords:30 }}</p>
	</div>
	<div class="col-md-2">
           {% if resource.image %}
           	{% thumbnail resource.image "200x150" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="display:block;" class="thumbnail">
			{% empty %}
		  		<p>No image</p>
			{% endthumbnail %}	
		{% endif %}
	</div>
</div>
<hr/>