
<div class="row"> 
	<div class="col-md-8">
		<a href="{% url 'mpowering_resource' resource.slug %}"><h4>{{ resource.slug.title }}</h4></a>
		
		<h4>
		{% for t in resource.get_type_tags %}
			{{ t.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</h4>
		
		{% for o in resource.get_organisations %}
			{{ o.name }}{% if not forloop.last %}, {% endif %}
		{% endfor %}
		
		<p>{{ resource.description|safe|truncatewords:30 }}</p>
	</div>
	<div class="col-md-2">
           {% if resource.image %}
			<img src="{% url 'mpowering_resource_image' resource.id 200 %}" style="max-width:200px" class="thumbnail"/>
		{% endif %}
	</div>
</div>
<hr/>