{% extends "base.html" %}
{% load i18n %} 
{% load crispy_forms_tags %}
{% load wysiwyg %}
{% block extra_scripts %}
{% wysiwyg_setup %}
{% endblock extra_scripts %} 
{% block extra_head_title %}{% trans 'Add Resource' %}{% endblock extra_head_title %}
{% block content %}

<h2>{% trans 'Add Resource' %}</h2>

<div class="alert alert-info  alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% blocktrans %}<strong>Lot of resources to add?</strong> Please contact us about using our API to make it easier for you to upload and maintain your recourses on ORB.{% endblocktrans %}
</div>
	
{% crispy form %}
{% wysiwyg_editor "id_description" %}
<div id='form-errors'>{{ form_errors }}</div>

{% endblock %}

