{% extends "base.html" %}
{% load i18n %} 
{% block extra_head_title %}{% trans 'Guidelines' %}{% endblock extra_head_title %}
{% block content %}

<h2>{% trans 'Guidelines' %}</h2>

<p>mPowering Frontline Health Workers aims to provide high quality, relevant and up to date resources that will help to improve the performance of frontline health workers. Our platform hosts learning resources, job aids (such as decision-trees), guides for trainers, behaviour change communication videos, electronic forms for data collection and similar resources.</p>

<p>All resources submitted to the platform will be reviewed by the mPowering Content Review Team and members of the Medical Expert Panel. We accept resources that adhere to international health standards guidelines; that have had some user-testing and/or evaluation; and that have evidence of health expert approval prior to previous publication of the resource. We prefer Open Access resources, but we also accept some resources that carry access fees.</p>

<p>Currently, we are not accepting: news stories, dissertations and theses, and conference papers. If you would like us to consider posting these kinds of papers on our mPowering website you can contact us.</p> 

{% endblock %}