{% extends "base.html" %}
{% load i18n %} 
{% block content %}

<h2 style="text-align:center">{{ resource.title }}</h2>

{% include "includes/messages.html" %}

<p style="text-align:center">
From:
{% for o in resource.get_organisations %}
	{% if o.url %}
		<a href="{{ o.url }}" target="_blank">{{ o.name }} </a>
	{% else %}
		{{ o.name }}
	{% endif %}

{% endfor %}
</p>
{% if resource.image %}
	<img style="display:block; margin: 20px auto; max-width:90%" src="{{ MEDIA_URL }}{{ resource.image }}"/>
{% endif %}
<p>
{{ resource.description|safe }}
</p>



{% if resource.get_files %}
	<hr/>
	<h4>{% trans 'Files' %}</h4>
	<ul>
	{% for f in resource.get_files %}
		<li>
			{% if f.description and f.description.strip %}
				<a href="{% url 'mpowering_resource_view_file' f.id %}">{{ f.description }}</a>
			{% else %}
				<a href="{% url 'mpowering_resource_view_file' f.id %}">{{ f.filename }}</a>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% if resource.get_urls %}
	<hr/>
	<h4>{% trans 'Links' %}</h4>
	<ul>
	{% for u in resource.get_urls %}
		<li>
			{% if u.description %}
				<a href="{% url 'mpowering_resource_view_link' u.id %}">{{ u.description }}</a>
			{% else %}
				<a href="{% url 'mpowering_resource_view_link' u.id %}">{{ u.url }}</a>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% if resource.get_categories %}
	{% for c in resource.get_categories %}
		<hr/>
		
		<h4>{{ c.name }}</h4>
		<ul>
			{% for t in c.tags %}
				<li><a href="{% url 'mpowering_tags' t.slug %}">{{ t.name }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endif %}

<hr/>
<small>Resource uploaded by {{ resource.create_user.first_name }} {{ resource.create_user.last_name }} at {{ resource.create_date }} 
and last updated by {{ resource.update_user.first_name }} {{ resource.update_user.last_name }} at {{ resource.update_date }}</small>


{% if options_menu %}
<hr/>
	{% for om in options_menu %}
		<a class="btn btn-primary btn btn-default" href="{{ om.url }}">{{ om.title }}</a>
	{% endfor %}
{% endif %}
{% endblock %}